{% extends 'base.html' %}
{% load static %}

{% block title_name %}Guiznotes - Позиция корзины №{{ cartitem.pk }}{% endblock %}

{% block link_style %}
    {{ block.super }} 
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
     <div class="container contact-container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>Позиция №{{ cartitem.pk }}</h2>
                            <p>Количество гитар: {{ cartitem.quantity }} штук</p>
                            <p>Гитара: {{ cartitem.guitar.name }}</p>
                            <p>Чья корзина: {{ cartitem.cart }}</p>
                            <a href="{% url 'cartitem_list_view' %}" class="btn btn-custom">Вернуться к списку позиций корзины</a>
                            <a href="{% url 'cartitem_update_view' cartitem.pk %}" class="btn btn-custom">Редактировать</a>
                            <a href="{% url 'cartitem_delete_view' cartitem.pk %}" class="btn btn-custom">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% else %}
            <br>
            <h1 class="text-center">Сначала войдите в аккаунт администратора</h1>
   {% endif %}

{% endblock %}

