{% extends 'base.html' %}
{% load static %}

{% block title_name %}Guiznotes - {{ guitar.name }}{% endblock %}

{% block link_style %}
    {{ block.super }} 
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
    <div class="container contact-container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>{{ guitar.name }}</h2>
                                <p>Описание гитары: {{ guitar.description }}</p>
                                <p>Цена: {{ guitar.price }} рублей</p>
                                <p>Количество на складе: {{ guitar.in_shop_quantity }}</p>
                                <p>Форма гитары: {{ guitar.guitar_form }}</p>
                                <p>Категория: {{ guitar.category }}</p>
                                <p>Доступна к заказу: {% if guitar.is_exists %}Да{% else %}Нет{% endif %}</p>
                                <a href="{% url 'guitar_list_view' %}" class="btn btn-custom">Вернуться к списку гитар</a>
                                <a href="{% url 'guitar_update_view' guitar.pk %}" class="btn btn-custom">Редактировать</a>
                                <a href="{% url 'guitar_delete_view' guitar.pk %}" class="btn btn-custom">Удалить</a>
                            </div>
                            <div class="col-md-6">
                                <img src="{{ guitar.photo.url }}" class="contact-photo" alt="{{ guitar.name }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
            <br>
            <h1 class="text-center">Сначала войдите в аккаунт администратора</h1>
   {% endif %}

{% endblock %}

