{% extends 'base.html' %}

{% block title_name %}Guiznotes - Вход{% endblock %}

{% block link_style %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div class="container login-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Вход</h5>
                        <form>
                            <div class="mb-3">
                                <label for="username" class="form-label">Имя пользователя:</label>
                                <input type="text" class="form-control" id="username" placeholder="Введите имя пользователя">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Пароль:</label>
                                <input type="password" class="form-control" id="password" placeholder="Введите пароль">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-custom">Войти</button>
                            </div>
                        </form>
                        <p class="mt-3 text-center">
                            Нет аккаунта? <a href="#">Создать аккаунт</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}