{% extends 'base.html' %}
{% load static %}

{% block title_name %}Guiznotes - главная{% endblock %}

{% block link_style %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <section class="py-5 text-center">
        <div class="container">
            <b><h1 class="lead mb-4">Ваша корзина пока пуста!</h1></b>
            <a href="{% url 'catalog' %}" class="btn btn-custom btn-lg" style="margin-top: 30px;">Перейти в каталог за покупками</a>
        </div>
    </section>
{% endblock %}