{% extends 'base.html' %}
{% load static %}

{% block title_name %}Guiznotes - Каталог{% endblock %}

{% block link_style %}
    {{ block.super }}  
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Каталог товаров</h1>
  <div class="row">
    {% for guitar in guitars %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          {% if guitar.photo %}
            <img src="{{ guitar.photo.url }}" class="card-img-top" alt="{{ guitar.name }}">
          {% else %}
            <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="{{ guitar.name }}">
          {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="card-title-min">{{ guitar.name }}</h5>
            <p class="card-text small-text">{{ guitar.description}}</p>
            <p class="card-text"><strong>Цена:</strong> {{ guitar.price }} руб.</p>
            <a href="#" class="btn btn-custom mt-auto"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>Товары отсутствуют!</p>
    {% endfor %}
  </div>
</div>
{% endblock %}

