{% extends 'base.html' %}
{% load static %}

{% block title_name %}Guiznotes - Удалить форму гитары{% endblock %}

{% block link_style %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.is_staff %}
        <div class="container contact-container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>Удалить форму гитары {{ guitarform.name }}?</h2>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-custom">Удалить</button>
                            </form>
                            <a href="{% url 'guitarform_list_view' %}" class="btn btn-custom mt-3">Вернуться к списку форм гитар</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <br>
        <h1 class="text-center">Сначала войдите в аккаунт администратора</h1>
    {% endif %}
{% endblock %}

