{% extends 'base.html' %}
{% load static %}

{% block title_name %}Guiznotes - {{ guitar.name }}{% endblock %}

{% block link_style %}
    {{ block.super }} 
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
     <main>
        <div class="container contact-container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>{{ guitarform.name }}</h2>
                            <a href="{% url 'guitarform_list_view' %}" class="btn btn-custom">Вернуться к списку форм гитар</a>
                            <a href="{% url 'guitarform_update_view' guitarform.pk %}" class="btn btn-custom">Редактировать</a>
                            <a href="{% url 'guitarform_delete_view' guitarform.pk %}" class="btn btn-custom">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% else %}
            <br>
            <h1 class="text-center">Сначала войдите в аккаунт администратора</h1>
   {% endif %}

{% endblock %}

